body {
  background-image:url(images/stars.png);
}

.gallery img, .gallery iframe {
  padding:1em 1em 0 0;
}

section {
  color:#fff;
  padding:0 20px 0 20px;
}

section:last-child {
  margin-top:40px;
}

section a {
  display:block;
  margin:5px 0 0 0;
  color:rgb(101, 252, 97);
  text-decoration:none;
}

section p a, section center a {
  display:inline;
}

#dad {
  display:none;
}
